@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

* {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #0ea5e9;
  --color-secondary: #f97316;
  --color-green: #10b981;
}
